
*.vsidx
lbyarch_mco2/.vs/lbyarch_mco2/v17/Browse.VC.opendb
lbyarch_mco2/.vs/lbyarch_mco2/v17/.suo
lbyarch_mco2/.vs/lbyarch_mco2/v17/Browse.VC.db
lbyarch_mco2/.vs/lbyarch_mco2/v17/Browse.VC.db-shm
lbyarch_mco2/.vs/lbyarch_mco2/v17/DocumentLayout.json
lbyarch_mco2/.vs/lbyarch_mco2/v17/Browse.VC.db-wal
lbyarch_mco2/.vs/lbyarch_mco2/v17/ipch/AutoPCH/e08505c057210fe7/MAIN.ipch
lbyarch_mco2/.vs/lbyarch_mco2/v17/ipch/AutoPCH/f393e5d20c543279/MAIN.ipch
